body {
    background-color: #F4F2F3!important;
}

.item {
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 12px;
}

.inactive {
    background-color: black;
}

.active {
    background-color: red;
}
section {
    display: inline-block;
}
.navbar-brand img{
    height: 50px;
}


/* login */

.Login {
    text-align: center;
}
.LoginAsWho {
    text-align: left;
    
}
.LoginAsWho h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.SelectedLogin {
    color: #3647FC;
    border-bottom: #3647FC;
    border-width: 8px;
    border-bottom-style: solid;
    border-radius: 8px;
}
.unSelectedLogin {
    color: #7D7E83;
}
.LoginAsWho a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75em;
    margin-right: 5%;
    text-decoration: none;
    padding-bottom: 1%;
}

.form__field input {
    border-radius: 8px;
    border-color: #C4C4C4;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 5%;
}
.formbtn_primarybtn {
    color: white;
    border-radius: 8px;
    font-size: 1em;
    background-color: #3647FC;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    border: none;
    padding: 5px 40px 5px 40px;
}
.registerLinkLogin {
    text-decoration: none;
    color: #52B69A;
}


/* navigation on the left */

.Navigation {
    font-family: 'Nunito', sans-serif!important;
    font-weight: 600;
}
.Navigation a {
    text-decoration: none;
    padding: 10% 20% 10% 20%;
}
.Navigation li {
    font-size: 1.5em;
    border-radius: 0 8px 8px 0;
    background-color: white;
    list-style-type: none;
    color: black;
    width: 80%;
    padding: 10% 20% 10% 20%;
    margin-left: 0;
}
.Navigation {
    margin-left: 0!important;
    padding-inline-start: 0!important;
}
#navSection {
    width: 20%;
}
#contentSection {
    width: 80%;
    float:right;
}
.selectedTab {

    background-color: #3647FC!important;
    color: white!important;
}





/* banner on dashbaord */

.banner {
    margin-top: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background: url('https://res.cloudinary.com/dgypufy9k/image/upload/v1652966210/Tackit_Assets/image_1_pmxdm5.png');
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 0 0 0 30px;
}
.pannel {
    width: 40%;
    height: 200px;
    margin-top: 200px;
    background-color: white;
    float: right;
    border-radius: 8px 0 0 0;
}
.pannel-ProjectTitle {
    display: flex;
    background-color: #3647FC;
    color: white;
    text-align: center;
    padding: 1%;
    flex-direction: column;
    height: 34%;
    border-radius: 8px 0 0 0;
}
.pannelContent {
    height: 66%;
}
.pannel li {
    list-style-type: none;
}

#pannelInfo {
    width: 60%;
    margin-left: 0;
    padding-left: 0;
}
#pannelButtons {
    float: right;
    width: 40%;
}
#pannelInfo li {
    padding-left: 10%;
}

#pannelInfo li:first-child {
    border-color: #C4C4C4;
    border-bottom-style: solid;
    border-right-style: solid;
} 
#pannelInfo li:nth-child(2) {
    border-color: #C4C4C4;
    border-right-style: solid;
} 


#pannelInfo ul {
    padding-left: 0;
}

#pannelButtons ul {
    
}

/* Gemeente Dashboard content */

.mainDContent {
    margin-top: 1%;
}

#dNewProject {
    background-repeat: no-repeat;
    background: url('https://res.cloudinary.com/dgypufy9k/image/upload/v1652966210/Tackit_Assets/image_1_pmxdm5.png');
    background-size: cover;
    width: 40%;
    height: 500px;
    margin-right: 1%;
    border-radius: 8px;
    -webkit-border-radius: 30px;
}

#dAllProjects {
    background-repeat: no-repeat;
    background: url('https://res.cloudinary.com/dgypufy9k/image/upload/v1652966210/Tackit_Assets/image_1_pmxdm5.png');
    background-size: cover;
    width: 40%;
    height: 500px;
    margin-right: 1%;
    border-radius: 8px;
    -webkit-border-radius: 30px;
}

#dStats {
    background-color: #3647FC;
    width: 10%;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 2.7%!important;
}

.dProjectButton {
    height: 80px;
    width: 99.5%;
    margin-left: .5%;
    margin-top: 420px;
    background-color: white;
    text-align: left;
    padding-left: 3%;
    border-radius: 0 0 8px 8px;
}